/* .input {
  flex: 1; 
  width: 80%;
  padding: 0.5vw;
} */
/* .icon {
  flex: 1;
  display: flex !important;
  justify-content: center !important;
  width: 10%;
  max-height: 49px;
} */
/* .form {
  max-height: 49px;
  flex: 1;
} */